<!DOCTYPE>
<html>
    <head>
        <link href="style.css" type="text/css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Furever Pet</title>
    </head>
    <body>
        <header>
            <h1 class="title">FurEver Pet <img src="logo.png" width=25px height=25px/></h1>
            <nav>
                <a class="nav-anchor" target="_blank">About Us</a>
                <a class="nav-anchor" target="_blank">Cats</a>
                <a class="nav-anchor" target="_blank">Dogs</a>
                <a class="nav-anchor" target="_blank">Adoption Form</a>
            </nav>
        </header>
        <main>
            <aside>
                <div class="aside-div">
                    <img src="52058185.jpg"/ width= 150px height = 150px>
                </div>
               
            </aside>
            <section>
                <article class="article-div">
                      <b>Name:</b>
                    <br>
                    {{name}}
                    <br>
                    <b>Description:</b>
                    <br>
                    {{description}}
                    <br>
                    <b>Breed:</b>
                    <br>
                    {{breed}}
                    <br>
                    <b>Age:</b>
                    <br>
                    {{age}}
                    <br>
                    <b>Gender:</b>
                    <br>
                    {{gender}}
                    <br>
                    <b>Color:</b>
                    <br>
                    {{color}}
                    <br>
                    <b>Size:</b>
                    <br>
                    {{size}}
                    <br>
                    <b>Location:</b>
                    <br>
                    {{location}}
                    <br>
                    <br>
                </article>
            </section>
        </main>
        <footer>
            <h4 class="title">©2023 FurEver.com All trademarks are owned by Fantastic Four.</h4>
        </footer>
    </body>
</html>