<!DOCTYPE>
<html>
    <head>
        <title>Furever Pet</title>
    </head>
    <header>
        <h1 class="title">Furever Pet</h1>
    </header>
    <body>
        <div class="dog">
            <button type="button">    
                <a href="ADD LINK"><img src="Images/DogIcon.png" WIDTH=25%/></a>
            </button>
        </div>
        <div class="cat">
            <button type="button">    
                <a href="ADD LINK"><img src="Images/CatIcon.png" WIDTH=25%/></a>
            </button>
        </div>
        <div class="About Us">
            <button type="button">About Us</button>
        </div>    
    </body>
</html>