<!--
  Title: AboutUs.html
  Description: AboutUs html webpage that helps connect potential adopters with pets with descriptions of the organization.
  Date: Apr 2023
  Author: Team # 4 (Fantastic Four)
  Usage:
  - Users can navigate to this page from the navigation bar on other pages of the website.
  - On this page, users can learn about the FurEver Pet organization, its mission statement, privacy policy, and contact information.
-->

<!DOCTYPE>
<html>
    <head>
        <link href="static/style.css" type="text/css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Furever Pet</title>
    </head>
    <body>
        <header>
            <h1 class="title">
                <span id="home">FurEver Pet 
                    <img src="static/logo.png" width=25px height=25px/>
                </span>
            </h1>
            <nav>
                <a class="nav-anchor" href="aboutus">About Us</a>
                <a class="nav-anchor" href="cats">Cats</a>
                <a class="nav-anchor" href="dogs">Dogs</a>
                <a class="nav-anchor" href="adoptionform">Adoption Form</a>
            </nav>
        </header>
        <main>
            <section>
                <article class="article-div">
                    <b>About Us: </b>
                    <br><br>
                  FurEver Pet is a pet rescue and adoption website that was founded in February 2023 by a group of computer science students at the University of Colorado Boulder. The team, consisting of Mayra, Brittany, Zack, and Mayumi, came together with a shared passion for technology and a desire to make a positive impact in the world.<br>
                  <br>
                  As the team developed their software development skills in their core class, CSPB3308, they began to work on the website early on their project. They spent countless hours designing and coding, testing and refining, until they finally had a working prototype that they were proud to share with the world.<br>
                  <br>
                  Since then, FurEver Pet has grown into a thriving community of pet lovers who are passionate about helping animals find their forever homes. The website has helped hundreds of pets find loving families, and the team continues to work tirelessly to improve the user experience and promote animal welfare.<br>
                    <br>
At FurEver Pet, we are committed to making a difference in the lives of animals and their human companions. Thank you for joining us on this journey!
                    <br><br>
                    <b>Mission Statement:</b>
                    <br><br>
                  Our mission is to provide a user-friendly website that allows potential adopters to search for pets based on a variety of criteria, ensuring that they find the perfect pet that suits their lifestyle and needs. We are dedicated to promoting responsible pet ownership and educating the public about the importance of spaying and neutering their pets. We strive to maintain the highest standards of animal welfare and to ensure that every pet finds a loving home.
                    <br><br>
                    <b>Privacy Policy:</b>
                    <br><br>
                  At FurEver Pet, we are committed to protecting the privacy of our users. We collect personal information from users only if they voluntarily submit such information to us. We use this information solely for the purpose of facilitating pet adoptions and improving our website. We do not sell or rent personal information to third parties. We take reasonable steps to protect the security of user information and to prevent unauthorized access to or disclosure of such information.
                  <br><br>
                  <b>Contact Us:</b>
                  <br><br>
                We are always happy to hear from our users. If you have any questions or comments, please feel free to contact us using the form on our Contact Us page. We will do our best to respond to your inquiry as soon as possible. Thank you for visiting FurEver Pet!
              </article>
            </section>
        </main>
        <footer>
            <h4 class="title">©2023 FurEver.com All trademarks are owned by Fantastic Four.</h4>
        </footer>
        <script>
        document.getElementById('home').addEventListener('click', () => {
            window.location.href = window.location.href.substring(0, window.location.href.lastIndexOf('/')) + '/';
        });
        </script>
    </body>
</html>
