<!--
  File: AdaptionForm.html
  
  Objective: This is an HTML file that displays a form for adopting pets. 
  The form includes fields for contact information, family and housing information, and pet preferences.
  
  Date: Apr 2023
-->

<!DOCTYPE>
<html>
  <head>
    <link href="static/style.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Furever Pet</title>
      <style>
          label, input, button {
              display: block;
              margin: 0.1rem;
          }
          
          form {
              display: flex;
          }
          
          fieldset {
              margin: 0 1rem;
              border-radius: 0.5rem;
              border: 1px solid darkgray;
          }
          
          #button-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
          }
          
          #send {
              padding: 0.5rem;
              margin: 0.5rem;
          }
      </style>
  </head>
  <body>
    <header>
            <h1 class="title">FurEver Pet <img src="static/logo.png" width=25px height=25px/></h1>
            <nav>
                <a class="nav-anchor" href="aboutus">About Us</a>
                <a class="nav-anchor" href="cats">Cats</a>
                <a class="nav-anchor" href="dogs">Dogs</a>
                <a class="nav-anchor" href="adoptionform">Adoption Form</a>
            </nav>
        </header>
    <main>
      <form action="/contact" method="post">
        <fieldset>
            <legend>Contact Information</legend>
            <label for="fname">Full Name: *</label>
            <input type="text" id="fname" name="fname">
            <label for="occupation">Occupation:</label>
            <input type="text" id="occupation" name="occupation">
            <label for="address">Address: *</label>
            <textarea id="address" name="address" row=10, col=60></textarea>
            <label for="addresslen">How long at this address:</label>
            <input type="number" id="addresslen" name="addresslen" min=0 max=99>
            <label for="phone">Phone Number: *</label>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><small>Format: 123-456-7890</small>
            <label for="email">Email: *</label>
            <input type="text" id="email" name="email">
            <label for="animal ID">animal ID: *</label>
            <input type="number" id="animalID" name="animalID">
        </fieldset>
        <fieldset>
            <legend>Family and Housing</legend>
            <label for="adultcount">How many adults are there in your home?</label>
            <input type="number" id="adultcount" name="adultcount" min=1 max=99>
            <label for="kidcount">How many kids are there in your home?</label>
            <input type="number" id="kidcount" name="kidcount" min=0 max=99>
            <label for="hometype">What type of home do you live in?</label>
            <input type="radio" id="duplex" name="hometype" value="duplex" style="display: inline">
            <label for="duplex" style="display: inline">Duplex</label>
            <input type="radio" id="condo" name="hometype" value="condo" style="display: inline">
            <label for="condo" style="display: inline">Condo</label>
            <input type="radio" id="townhouse" name="hometype" value="townhouse" style="display: inline">
            <label for="townhouse" style="display: inline">Townhouse</label>
            <input type="radio" id="mobilehome" name="hometype" value="mobilehome" style="display: inline">
            <label for="mobilehome" style="display: inline">Mobile Home</label>

            <legend id="household">Please describe your household</legend>
            <input type="radio" id="active" name="household" value="active" style="display: inline">
            <label for="active" style="display: inline">Active</label>
            <input type="radio" id="noisy" name="household" value="noisy" style="display: inline">
            <label for="noisy" style="display: inline">Noisy</label>
            <input type="radio" id="quiet" name="household" value="quiet" style="display: inline">
            <label for="quiet" style="display: inline">Quiet</label>
            <input type="radio" id="average" name="household" value="average" style="display: inline">
            <label for="average" style="display: inline">Average</label>
            
            <label for="landlord" >If you rent, please give the rules governing pets and the landlord's name and number</label>
            <textarea id="landlord" name="landlord" row=10, col=60></textarea>
            
            <legend>Does anyone in the family have a known allergy to dogs/cats?</legend>
            <input type="radio" id="allergy-yes" name="allergy" value="allergy-yes" style="display: inline">
            <label for="allergy-yes" style="display: inline">Yes</label>
            <input type="radio" id="allergy-no" name="allergy" value="allergy-no" style="display: inline">
            <label for="allergy-no" style="display: inline">No</label>
            
            <legend>Is everyone in agreement with the decision to adopt a dog/cat?</legend>
            <input type="radio" id="decision-yes" name="decision" value="decision-yes" style="display: inline">
            <label for="decision-yes" style="display: inline">Yes</label>
            <input type="radio" id="decision-no" name="decision" value="decision-no" style="display: inline">
            <label for="decision-no" style="display: inline">No</label>
            
            
            <legend>Do you have time to provide adequate love and attention??</legend>
            <input type="radio" id="time-yes" name="time" value="time-yes" style="display: inline">
            <label for="time-yes" style="display: inline">Yes</label>
            <input type="radio" id="time-no" name="time" value="time-no" style="display: inline">
            <label for="time-no" style="display: inline">No</label>
        </fieldset>
        <div id="button-container">
            <button type="submit" id="send">Send</button>
        </div>
      </form>   
    </main>
    <footer>
      <h4 class="title">©2023 FurEver.com All trademarks are owned by Fantastic Four.</h4>
    </footer>
  </body>
</html>