<!DOCTYPE>
<html>
    <head>
        <title>FurEver Pet</title>
    </head>
    <header>
        <h1 class="title">FurEver Pet</h1>
    </header> 
    <body>
        <h2>Adoption Form</h2>
        <form action="mailto:david.knox@colorado.edu" method="post" enctype="text/plain">
            <h4>Contact Information</h4>
            <label for="fname">Full Name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <br>
            <label for="occupation">Occupation:</label><br>
            <input type="text" id="occupation" name="occupation"><br>
            <br>
            <label for="address">Address:</label><br>
            <input type="text" id="address" name="address"><br>
            <br>
            <label for="addresslen">How long at this address:</label><br>
            <input type="text" id="addresslen" name="addresslen"><br>
            <br>
            <label for="phone">Phone Number:</label><br>
            <input type="text" id="phone" name="phone"><br>
            <br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email">
            <br>
            <h4>Family and Housing</h4>
            <label for="adultcount">How many adults are there in your home?</label><br>
            <input type="text" id="adultcount" name="adultcount"><br>
            <br>
            <label for="kidcount">How many kids are there in your home? (provide ages)</label><br>
            <input type="text" id="kidcount" name="kidcount"><br>
            <br>
            <label for="hometype">What type of home do you live in?</label><br>
            <input type="text" id="hometype" name="hometype"><br>
            <br>
            <label for="household">Please describe your household</label><br>
            <input type="radio" id="active" name="active" value="active">
            <label for="active">Active</label><br>
            <input type="radio" id="noisy" name="noisy" value="noisy">
            <label for="noisy">Noisy</label><br>
            <input type="radio" id="quiet" name="quiet" value="quiet">
            <label for="quiet">Quiet</label><br>
            <input type="radio" id="average" name="average" value="average">
            <label for="average">Average</label><br>
            <br>
            <label for="landlord">If you rent, please give the rules governing pets and the landlord's name and number</label><br>
            <input type="text" id="landlord" name="landlord"><br>
            <br>
            <label for="allergy">Does anyone in the family have a known allergy to dogs/cats?</label><br>
            <input type="text" id="allergy" name="allergy"><br>
            <br>
            <label for="decision">Is everyone in agreement with the decision to adopt a dog/cat?</label><br>
            <input type="text" id="decision" name="decision"><br>
            <br>
            <label for="time">Do you have time to provide adequate love and attention??</label><br>
            <input type="text" id="time" name="time"><br>
            <br>
            <input type="submit" value="Send">
        </form>    
    </body>
</html>