<!DOCTYPE>
<html>
    <head>
        <link href="static/style.css" type="text/css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Furever Pet</title>
        <style>
            label, select {
                display: block;
                margin: 0.25rem;
                padding: 0.25rem;
            }
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            #button-container {
                padding-top: 1rem;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 class="title">FurEver Pet <img src="static/logo.png" width=25px height=25px/></h1>
            <nav>
                <a class="nav-anchor" href="aboutus">About Us</a>
                <a class="nav-anchor" href="cats">Cats</a>
                <a class="nav-anchor" href="dogs">Dogs</a>
                <a class="nav-anchor" href="adoptionform">Adoption Form</a>
            </nav>
        </header>
        <main>
            <aside>
                <div class="aside-div">
                    <form>
                      <label for="breed">BREED</label>
                      <select name="breed" id="breed">
                        <option value="Mix">Mix</option>
                        <option value="French Bulldogs">French Bulldogs</option>
                        <option value="Labrador Retrievers">Labrador Retrievers</option>
                        <option value="Golden Retrievers">Golden Retrievers</option>
                        <option value="German Shepherd Dogs">German Shepherd Dogs</option>
                      </select>
                      <label for="age">AGE(month)</label>
                      <select name="age" id="age">
                        <option value="3">0-3</option>
                        <option value="6">3-6</option>
                        <option value="12">6-12</option>
                        <option value="13">12+</option>
                      </select>
                      <label for="size">SIZE</label>
                      <select name="size" id="size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                      </select>
                      <label for="gender">GENDER</label>
                      <select name="gender" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                      <label for="color">COLOR</label>
                      <select name="color" id="color">
                        <option value="white">White</option>
                        <option value="gray">Gray</option>
                        <option value="black">Black</option>
                        <option value="yellow">Yellow</option>
                        <option value="brown">Brown</option>
                        <option value="mixed">Mixed</option>
                      </select>
                      <div id="button-container">
                        <button type="submit">SEARCH</button>
                      </div>
                    </form>
                </div>
            </aside>
            <section>
                <article class="article-div">
                <table>
                    <tr>
                        <td><img src="https://placekitten.com/200/300" alt="cat" /></td>
                        <td><img src="https://placekitten.com/200/300" alt="cat" /></td>
                        <td><img src="https://placekitten.com/200/300" alt="cat" /></td>
                        <td><img src="https://placekitten.com/200/300" alt="cat" /></td>
                        <td><img src="https://placekitten.com/200/300" alt="cat" /></td>
                    </tr>
                    <tr>
                        <td><img src="https://placekitten.com/200/300" alt="cat" /></td>
                        <td><img src="https://placekitten.com/200/300" alt="cat" /></td>
                    </tr>
                </table>
                <article>
            </section>
        </main>
        <footer>
            <h4 class="title">©2023 FurEver.com All trademarks are owned by Fantastic Four.</h4>
        </footer>
    </body>
</html>