<!DOCTYPE>
<html>
    <head>
        <link href="static/style.css" type="text/css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Furever Pet</title>
        <style>
            label, select {
                display: block;
                margin: 0.25rem;
                padding: 0.25rem;
            }
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            #button-container {
                padding-top: 1rem;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 class="title">
                <span id="home">FurEver Pet 
                    <img src="static/logo.png" width=25px height=25px/>
                </span>
            </h1>
            <nav>
                <a class="nav-anchor" href="aboutus">About Us</a>
                <a class="nav-anchor" href="cats">Cats</a>
                <a class="nav-anchor" href="dogs">Dogs</a>
                <a class="nav-anchor" href="adoptionform">Adoption Form</a>
            </nav>
        </header>
        <main>
            <aside>
                <div class="aside-div">
                    <form>
                      <label for="breed">BREED</label>
                      <select name="breed" id="breed">
                        <option value="Any">Any</option>
                        <option value="Domestic Longhair">Domestic Long Hair</option>
                        <option value="Domestic Medium Hair">Domestic Medium Hair</option>
                        <option value="Domestic Shorthair">Domestic Short Hair</option>
                        <option value="Mix">Mix</option>
                        <option value="Siamese">Siamese</option>
                      </select>
                      <label for="age">AGE</label>
                      <select name="age" id="age">
                        <option value="Any">Any</option>
                        <option value="0-1">Year &#8804; 1</option>
                        <option value="1-3">1 &lt; Year &#8804; 3</option>
                        <option value="3-6">3 &lt; Year &#8804; 6</option>
                        <option value="6-12">6 &lt; Year &#8804; 12</option>
                        <option value="12-20">&#62; 12 Year</option>
                      </select>
                      <label for="size">SIZE</label>
                      <select name="size" id="size">
                          <option value="Any">Any</option>
                          <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                      </select>
                      <label for="gender">GENDER</label>
                      <select name="gender" id="gender">
                        <option value="Any">Any</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                      <label for="color">COLOR</label>
                      <select name="color" id="color">
                        <option value="Any">Any</option>
                        <option value="Black">Black</option>
                        <option value="Brown">Brown</option>
                        <option value="Mixed">Mixed</option>
                        <option value="Orange">Gray</option>
                        <option value="Seal">Yellow</option>
                        <option value="White">White</option>
                      </select>
                      <div id="button-container">
                        <input type="button" value="SEARCH" id="search">
                      </div>
                    </form>
                </div>
            </aside>
            <section>
                <article class="article-div">Search result for: breed = {{breed}}, age = {{age}}, size = {{size}}, gender = {{gender}}, color = {{color}}.<article>
                <article class="article-div">
                <ul>
                {% for petID in petIDSet %}
                    <li>
                        <a href="{{petType.lower()}}_{{petID}}" target="_blank">
                            <img src="static/petImages/{{petType.lower()}}/{{petID}}.jpg" alt="{{petType}}" />
                            <p>Animal ID: {{petID}}</p>
                        </a>
                    </li>
                {% endfor %}
                </ul>
                <article>
            </section>
        </main>
        <footer>
            <h4 class="title">©2023 FurEver.com All trademarks are owned by Fantastic Four.</h4>
        </footer>
        <script>
        document.getElementById('search').addEventListener('click', () => {
            const currURL = window.location.href;
            let nextURL = `${currURL.substring(0, currURL.lastIndexOf('cats?'))}cats?`
            nextURL += `breed=${document.getElementById('breed')['value'].replaceAll(' ', '%20')}&`
            nextURL += `age=${document.getElementById('age')['value']}&`
            nextURL += `size=${document.getElementById('size')['value']}&`;
            nextURL += `gender=${document.getElementById('gender')['value']}&`;
            nextURL += `color=${document.getElementById('color')['value']}&`;
            window.location.href = nextURL;
        });
            
        document.getElementById('home').addEventListener('click', () => {
            window.location.href = window.location.href.substring(0, window.location.href.lastIndexOf('/')) + '/';
        });
        </script>
    </body>
</html>