<!--
  File: dog_52053831.html
  Purpose: This template displays detailed information about a specific dog (ID: 52053831) available for adoption at FurEver Pet.
  Author: Team # 4 (Fantastic Four)
  Date: Apr 2023
  Usage: To use this template, replace the placeholder values (wrapped in {{ }}) with the actual data for the dog, such as name, description, breed, age, gender, color, size, and location.
-->

<!DOCTYPE>
<html>
    <head>
        <link href="static/style.css" type="text/css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Furever Pet</title>
    </head>
    <body>
        <header>
            <h1 class="title">
                <span id="home">FurEver Pet 
                    <img src="static/logo.png" width=25px height=25px/>
                </span>
            </h1>
            <nav>
                <a class="nav-anchor" href="aboutus">About Us</a>
                <a class="nav-anchor" href="cats">Cats</a>
                <a class="nav-anchor" href="dogs">Dogs</a>
                <a class="nav-anchor" href="adoptionform">Adoption Form</a>
            </nav>
        </header>
        <main>
            <aside>
                <div class="aside-div">
                    <img src="static/petImages/dog/52053831.jpg"/ width= 150px height = 150px>
                </div>
               
            </aside>
            <section>
                <article class="article-div">
                          <b>Name:</b>
                    <br>
                    {{name}}
                    <br>
                    <b>Description:</b>
                    <br>
                    {{description}}
                    <br>
                    <b>Breed:</b>
                    <br>
                    {{breed}}
                    <br>
                    <b>Age:</b>
                    <br>
                    {{age}}
                    <br>
                    <b>Gender:</b>
                    <br>
                    {{gender}}
                    <br>
                    <b>Color:</b>
                    <br>
                    {{color}}
                    <br>
                    <b>Size:</b>
                    <br>
                    {{size}}
                    <br>
                    <b>Location:</b>
                    <br>
                    {{location}}
                    <br>
                    
                    <br>
                </article>
            </section>
        </main>
        <footer>
            <h4 class="title">©2023 FurEver.com All trademarks are owned by Fantastic Four.</h4>
        </footer>
        <script> 
        document.getElementById('home').addEventListener('click', () => {
            window.location.href = window.location.href.substring(0, window.location.href.lastIndexOf('/')) + '/';
        });
        </script>
    </body>
</html>