<!DOCTYPE>
<html>
    <head>
        <title>FurEver Pet</title>
        <style>
            .dog {
                float: left;
                width:50%;
            }
            .cat { 
                float: right;
                width:50%;
            }
        </style>
    </head>
    <header>
        <h1 class="title">FurEver Pet</h1>
    </header>
    <body>
        <div class="dog">
            <button type="button">    
                <a href="ADD LINK"><img src="DogIcon.png" WIDTH=50%/></a>
            </button>
        </div>
        <div class="cat">
            <button type="button">    
                <a href="ADD LINK"><img src="CatIcon.png" WIDTH=50%/></a>
            </button>
        </div>
        <div class="AboutUs">
            <button type="button">About Us</button>
        </div>    
    </body>
</html>


# small description of company
# update to match template html
