<!--
  File: template.html
  Purpose: This template serves as a starting point for creating a responsive and modern HTML5 website for FurEver Pet, an organization focusing on pet adoption.
  Author: Team # 4 (Fantastic Four)
  Date: Apr 2023
  Usage: To use this template, simply replace the placeholder content with your own content and customize the styles as needed. Add any additional pages or components as required, ensuring that you maintain the structure and responsiveness of the design.
-->

<!DOCTYPE>
<html>
    <head>
        <link href="static/style.css" type="text/css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Furever Pet</title>
    </head>
    <body>
        <header>
            <h1 class="title">FurEver Pet <img src="static/logo.png" width=25px height=25px/></h1>
            <nav>
                <a class="nav-anchor" href="aboutus">About Us</a>
                <a class="nav-anchor" href="cats">Cats</a>
                <a class="nav-anchor" href="dogs">Dogs</a>
                <a class="nav-anchor" href="adoptionform">Adoption Form</a>
            </nav>
        </header>
        <main>
            <aside>
                <div class="aside-div">aside div 1</div>
                <div class="aside-div">aside div 2</div>
                <div class="aside-div">aside div 3</div>
                <div class="aside-div">aside div 4</div>
            </aside>
            <section>
                <article class="article-div">article-div 1</article>
                <article class="article-div">article-div 2</article>
                <article class="article-div">article-div 3</article>
            </section>
        </main>
        <footer>
            <h4 class="title">©2023 FurEver.com All trademarks are owned by Fantastic Four.</h4>
        </footer>
    </body>
</html>