<!--
  File: userInformation.html
  
  Objective: This is an HTML file that displays user information in a table, linked to Furever.py.
  It uses JavaScript to populate the table with data from a JSON object.
  
  Date: Apr 2023
-->


<!DOCTYPE>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
      }
      
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <!-- Add a heading to the page -->
    <h1>User Information <img src="static/logo.png" width=25px height=25px/></h1>
    <!-- Create a table to display user information -->
    <table>  
      <!-- Add table header with column names -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Occupation</th>
          <th>Address</th>
          <th>Duration of residence</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Adult Count</th>
          <th>Kid Count</th>
          <th>Home Type</th>
          <th>Household Description</th>
          <th>Landlord</th>
          <th>Animal Allergy</th>
          <th>Family Agreement</th>
          <th>Time Commitment</th>
        </tr>
      </thead>
      <!-- Add table body with user data -->
      <tbody id="user-info">
      </tbody>
    </table>
    <!-- Use JavaScript to populate the table with data -->
    <script>
      const tableBody = document.getElementById('user-info');
      // Parse JSON data from Flask backend
      const contacts = JSON.parse('{{ contacts | tojson | safe}}')
      console.log(contacts);
      // Loop through each user data and create a table row for each user
      for (const data of contacts) {
          const row = document.createElement('tr');
          row.innerHTML = `
            <td>${data.ContactId}</td>
            <td>${data.Name || ''}</td>
            <td>${data.Occupation || ''}</td>
            <td>${data.Address || ''}</td>
            <td>${data.DurationOfResidence}</td>
            <td>${data.Phone || ''}</td>
            <td>${data.Email || ''}</td>
            <td>${data.AdultCount}</td>
            <td>${data.KidCount}</td>
            <td>${data.HomeType}</td>
            <td>${data.HouseholdDescription}</td>
            <td>${data.Landlord || ''}</td>
            <td>${data.Allergy}</td>
            <td>${data.Agreement}</td>
            <td>${data.TimeCommitment}</td>
          `;
          tableBody.appendChild(row);
        }
    </script>
  </body>
</html>
